@model FarmerCropMarketing.Models.Farmers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Farmers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farmers_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farmers_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farmers_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farmers_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farmers_mobile_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farmers_mobile_no)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farmers_address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farmers_address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farmers_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farmers_image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Farmers_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
