@model IEnumerable<FarmerCropMarketing.Models.Orders>

@{
    ViewData["Title"] = "mybuyitem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>mybuyitem</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Farmers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seller_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.delivery_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_pricer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Farmers.Farmers_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crops.Crops_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seller_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_pricer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Orders_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Orders_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Orders_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
