
@model IEnumerable<FarmerCropMarketing.Models.Cart>

@{
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>MyCart</h1>
<h3>Total Price @ViewBag.price</h3>
<a asp-action="placeorder" asp-controller="Farmers">Place Order </a>
<table class="table text-center" >
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.Crops.Crops_name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Crops.Crops_price)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Crops.Crops_image)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
       

        @foreach (var item in Model)
        {
            var crop_image_path = "/CropImage/" + item.Crops.Crops_image;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Crops.Crops_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crops.Crops_price)
                </td>
                <td>
                    <img class="img-thumbnail" height="150" width="150" src="@crop_image_path" alt="Card image cap">
                </td>
                <td>

                    <a class="btn btn-warning" asp-action="Delete" asp-controller="Carts" asp-route-id="@item.Cart_id">Remove Frome Cart</a>
                </td>
            </tr>
        }
    </tbody>

</table>