@model FarmerCropMarketing.Models.Crops

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Crops</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crops_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crops_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crops_quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crops_quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crops_price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crops_price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crops_description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crops_description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crops_image)
        </dt>
        <dd class="col-sm-10">

            @{
                var crop_image_path = "/CropImage/" + Model.Crops_image;
            }
            <img class="card-img-top" src="@crop_image_path" style="height:auto;width:20%;" alt="Card image cap">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Farmers_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Farmers_id)
        </dd>
    </dl>
</div>
<a asp-action="addtocart" asp-controller="Farmers" asp-route-id="@Model.Crops_id" class="btn btn-primary">Add to cart</a> |
@if (Model.buyOrsell)
{
    <a asp-action="Buy" asp-route-id="@Model.Crops_id" class="btn btn-primary">Buy</a>
}
else
{
    <a asp-action="Sell" asp-route-id="@Model.Crops_id" class="btn btn-success">Sell</a>
}