@model IEnumerable<FarmerCropMarketing.Models.Crops>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crops_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crops_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crops_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crops_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crops_image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farmers_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crops_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crops_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crops_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crops_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crops_image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Farmers_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Crops_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Crops_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Crops_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
